/* ____________________________________________hero________________________________________ */

header .hero {
    background-color: #59ab6e;
    display: flex;
    align-items: center;
    padding: 9px 101px;
}

header .hero .parghraf {
    margin-left: 3px;
}

header .hero .parghraf .p1 {
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 11px;
}

header .hero .parghraf .p2 {
    font-size: 18px;
    color: #ffffff;
}

header .hero img {
    width: 475px;
    margin-right: 8px;
}

/* _______________________________________________________________main___________________________________ */

/* _______________________________ Services_____________________________*/

main .form .prod .pro i {
    font-size: 88px;
    margin: 24px 0px;
    color: #59ab6e;
}

main .form .prod .pro img {

    margin: 51px 0px;
    width: 86px;
}

main #Services .prod .pro {
    padding: 0px 0px;
    width: 261px;
    height: 195px;
    margin: 41px 17px;
    box-shadow: 0px 0px 20px 0px #d9d5d5;
}

/* ___________________________brand____________________ */
main #brands .prod .pro {
    padding: 13px 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    filter: grayscale(1);
    opacity: 0.5;
}

main #brands {
    background-color: #e9eef5;
}


/*____________________________________________Media Queries______________________________________*/

/*_______________________________ Large screen _____________________________*/
@media (min-width: 1200px) {}

/*___________________________medium screen ______________________*/
@media (min-width: 992px) and (max-width: 1199px) {
    main #Services .prod .pro {
        width: 203px;
    }

    header .hero img {
        width: 322px;
    }

    header .hero .parghraf .p1 {
        font-size: 46px;
    }

    header .hero .parghraf .p2 {
        font-size: 16px;
    }

    main #Services .prod .pro {
        width: 185px;
    }

    main .form .prod .pro i {
        font-size: 68px;
        margin: 38px 0px;
    }


}

/*__________________________ small screen ____________________________*/
/* Styles for small to medium screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    header .hero .parghraf .p2 {
        font-size: 12px;
    }

    header .hero img {
        width: 330px;
        margin-right: -53px;
    }

    header .hero .parghraf .p1 {
        font-size: 41px;
    }



    main .form #brand {
        flex-direction: row;
    }

    main .form .prod .pro img {
        width: 79px;
    }




}

/* ____________________________mobile screen__________________ */
@media (max-width: 767px) {
    header .hero img {
        width: 271px;

    }

    header .hero {
        flex-direction: column;
        padding: 89px 8px;
    }

    header .hero .parghraf .p2 {
        font-size: 13px;
    }

    header .hero .parghraf .p1 {
        font-size: 25px;
    }

    main .form #brand {
        flex-direction: row;
    }

    main #brands .prod .pro {
        padding: 13px 3px;
    }

    main .form .prod .pro img {
        margin: 51px 0px;
        width: 56px;
    }
}